article {
    height: 75vh;
    color: var(--main-white-color);
    background-color: var(--main-color);
    display: flex;
}

article>div {
    width: 50%;
    padding: 2rem;
    height: 100%;
    align-items: center;
}

video {
    height: 100%;
    width: 100%;
}